

.setting-page-layout {
  background-color: transparent !important;
  padding: 0;
}

.setting-page-content {
  background-color: transparent !important;
  margin-top: 0;
  min-height: 100vh; /* Ensure it takes the full height */
}